/*SE CAMBIA EL COLOR DE FONDO*/
body{
    background-color: #cbcfb4;
}
/*SE MODIFICA EL CONTENEDOR PRINCIPAL*/
main{
    border: 1px solid black;
    padding: 25px;
    max-width: 360px;
    max-height: 650px;
    margin: 50px auto;
    background-color: black;
    border-radius: 30px;
}
/*SE MODIFICA LOS BOTONES*/
.btn{
    width: auto;
    height: 60px;
    font-size: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .4s ease;
}
.btn:hover{
    transform: scale(1.1);
    background-color: #c8eb6a;
}
/*SE MODIFICA EL DISPLAY*/
#display{
    border: 1px solid white;
    height: 100px;
    margin-bottom: 25px;
    background-color: #ececdd;
    border-radius: 10px;
    display: grid;
    align-items: center;
    align-content: center;
}

#displayValorActual{
    padding: 20px ;
    text-align: end;
    font-size: 50px;
    overflow-x: auto;
}
/* SE CREA EL DISPLAY GRID PARA LOS BOTONES*/
#botones{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;

}
.span2c{
    grid-column: span 2;
}
/*SE DA COLORES A LOS GRUPOS DE BOTONES */
.verde{
    background-color: #8d9c09;
    font-weight: bold;
}
.naranja{
    background-color: #f1a20b;
}

.plomo{
    background-color: #c4c8c5;
}